* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

button{
  cursor: pointer;
}

.header{
  background: #3f51b5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  padding: 15px;
}

.score{
  background: #7889ea;
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 5px;
  cursor: pointer;
  border: none;
  color: #fff;
  transition: all 0.3s;
}

.score:hover{
  background: #182eac;
}

.score:active{
  background: #324ff4;
}

.main-container {
  background: rgb(80, 202, 113);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2rem;
  transition: background 0.5s;
  
}

.cardholder{
  display: flex;
  flex-direction: row;
  max-width: 800px;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 25px;
  row-gap: 10px;
}

.holder-row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  column-gap: 10px;
  width: 100%;
}

.card{
  width: 22%;
  height: 20vh;
  border-radius: 10%;
  background-color: aquamarine;
  cursor: pointer;
  background-image: url('./assets/jdun.jpg');
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 4px 2px rgb(0 0 0);
  transition: box-shadow 0.2s, transform 0.4s, background-image 0.4s;
}

.card:hover{
  transform: scale(1.05);
  box-shadow:0 0 3px 1px rgb(48, 48, 48); 
}

.card:active{
  transform: scale(1.0);
  box-shadow: 0 0 4px 2px rgb(58, 38, 38);
  
}

.card.open{
  transform: rotateY(180deg);
  pointer-events: none;
}

.card.played{
  transform: rotateY(180deg);
  pointer-events: none;
}

.footer {
  padding: 10px 100px;
  background: #3f51b5;
  display: flex;
  justify-content: space-between;
}

.footer-rs-logo {
  cursor: pointer;
  height: 50px;
}

.footer-rs-icon {
  width: 100px;
  height: 50px;
  fill: #fff;
  transition: fill 0.5s;
}

.footer-rs-icon:hover {
  fill: rgb(255, 64, 64);
}

.footer-copy {
  display: flex;
  gap: 20px;
  align-items: center;
}

.footer-link {
  transition: color 0.4s;
}

.footer-link:hover {
  color: rgb(255, 64, 64);
}

.modal-win{
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.modal-wrapper{
  background-color: #7889ea;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
  row-gap: 10px;
  min-width: 300px;
  font-size: 1.2rem;
}

.modal-wrapper .results{
  display: flex;
  flex-direction: column;
}

.results-title,.result-block{
  display: flex;
  justify-content: space-between;
}

.close-modal{
  background: #ff2929;
  padding: 1px 5px 2px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid red;
  align-self: end;
  color: white;
  transition: background 0.3s;
}

.close-modal:hover{
  background: #ff8b8b;
}
.close-modal:active{
  background: #ff4242;
}

.replay-button{
    background: #2069f8;
    padding: 7px 5px;
    border-radius: 5px;
    border: 1px solid #0012ff;
    color: white;
    font-size: 1.1rem;
    transition: background 0.3s;
}

.replay-button:hover{
  background:rgb(91, 136, 227);
}
.replay-button:active{
  background: rgb(40, 112, 255);
  border: 1px solid #656fff;
}